@using dbShopeeAutomationV2.Models;

@{
    ViewBag.Title = "Order Form";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";

    dbShopeeAutomationV2Entities db = new dbShopeeAutomationV2Entities();
    int order_status_count = db.TShopeeOrderStatus.ToList().Count;
}

@if (order_status_count <= 0)
{
    <div class="p-3">
        <div class="warning_div border border-danger">
            <div class="row">
                <div class="col">
                    <div class="text-white text-center fw-bold h2 bg-danger">
                        Error!
                    </div>
                </div>
            </div>
            <div class="text-black h4">
                <ul>
                    <li>There is no existing Order Status. Please insert an Order Status before you proceeed!</li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-3">
        <div class="border border-dark">
            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            @using (Html.BeginForm("OrderGridViewPartialAddNew", "Order", FormMethod.Post, new { @Id = "orderForm" }))
            {
                <div class="row m-2">
                    <div class="col">
                        <label>Title: </label>
                        @Html.TextBox("order_title", "", new { @Class="form-control", @Required = true })
                    </div>

                    <div class="col">
                        <label>Placement Date: </label>
                        @Html.DevExpress().DateEdit(settings => {
                            settings.Name = "order_placed_date";
                            settings.Properties.DisplayFormatString = "yyyy-MM-dd";
                            settings.Width = Unit.Percentage(100);
                        }).GetHtml()
                    </div>
                </div>
            }

            <div class="row mt-3 mx-2">
                <div class="col">
                    <button type="submit" form="orderForm" class="btn btn-success">Submit Form</button>
                </div>
            </div>

            <div class="row m-2">
                <div class="col">
                    <div id="orderFormResp">
                        @Html.Action("OrderGridViewPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            let orderForm = $("form[id='orderForm']");
            const orderForm_actionLink = orderForm.attr("action");
            const orderForm_methodType = orderForm.attr("method");

            orderForm.submit(e => {
                e.preventDefault();

                $.ajax({
                    url: orderForm_actionLink,
                    type: orderForm_methodType,
                    data: orderForm.serialize(),
                    success: resp => {
                        $("#orderFormResp").html(resp);
                    }
                })
            });
        });
    </script>
}

