
@{
    ViewBag.Title = "Import NTL Asia Excel Form";
    Layout = "~/Views/Shared/_ProductionLayout.cshtml";
}

<!-- To Remove -->
<style>
    table {
        width: 100%;
    }
    
    table tr td {
        padding: 0px 3px;
    }
</style>

<div class="d-flex align-items-center justify-content-center">
    <div class="p-3" style="width: 800px;">
        <div class="border border-dark">
            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            @using (Html.BeginForm("uploadFile", "ProductExcel", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "uploadFileForm" }))
            {
                <div class="row m-2 align-items-center">
                    <label class="col-2">File</label>
                    <div class="col to_remove">
                        @Html.TextBox("fileUpload", "", new { @Class="form-control", @Type="file"})
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
            <div id="resp" class="px-3 py-2">
                <div id="loader_div" class="text-center">
                    <img src="~/Content/Images/loading-load.gif" style="height: 120px;" alt="Loading Animation" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // Hide Loading Animation by Default
        $("#loader_div").css("display", "none");

        let form = $("form[id='uploadFileForm']");
        const actionLink = form.attr("action");
        const methodType = form.attr("method");

        form.submit(e => {
            e.preventDefault();

            let fData = new FormData(form[0]);

            $("#loader_div").css("display", "block");

            $.ajax({
                url: actionLink,
                type: methodType,
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: fData,
                success: resp => {
                    $("#loader_div").css("display", "none");
                    $("#resp").html(resp);
                    $(".to_remove").find("input[type=file]").val("");
                    setTimeout(_ => {
                        $("#resp").html("");
                    }, 3000);
                }
            });
        })
    });
</script>

