
@{
    ViewBag.Title = "Payment Method Form";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
}

<div class="p-3">
    <div class="border border-dark">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
            </div>
        </div>

        <div class="p-3">
            @Html.Action("PaymentMethodGridViewPartial")
        </div>
    </div>
</div>

