
@{
    ViewBag.Title = "Detail Home Page";
    Layout = "~/Views/Shared/_OperationLayout.cshtml";
}

<div class="container p-3">
    <div class="border border-dark">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
            </div>
        </div>

        <div class="container p-3">
            @Html.Action("DetailGridViewPartial")
        </div>
    </div>
</div>

