
@{
    ViewBag.Title = "Production Form";
    Layout = "~/Views/Shared/_ProductionLayout.cshtml";
}

<div class="container p-3">

    <div class="border border-dark">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
            </div>
        </div>

        <div class="container p-3">
            @Html.Action("ProductionGridViewPartial")
            <div class="my-3"></div>
            <a class="btn btn-outline-primary" href="/Production/Create">Create new Production</a>
        </div>
    </div>

</div>

