
@{
    ViewBag.Title = "Invoice Home Page";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
}

@section tmp_script {
    <script type="text/javascript">$(".nav-item:first-child").children().addClass("active")</script>
}

<div class="container p-3">
    <div class="border border-dark">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
            </div>
        </div>

        <div class="container p-3">
            @Html.Action("InvoiceGridViewPartial")
        </div>
    </div>
</div>

